[submodule "Week 1/abs-week1-contracts/lib/forge-std"]
	path = Week 1/abs-week1-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Week 1/abs-week1-contracts/lib/openzeppelin-contracts"]
	path = Week 1/abs-week1-contracts/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "Week 2/asb-week2-contracts/lib/forge-std"]
	path = Week 2/asb-week2-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Week 2/asb-week2-contracts/lib/openzeppelin-contracts"]
	path = Week 2/asb-week2-contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Week 2/smart-contract-ecosystem-1/lib/forge-std"]
	path = Week 2/smart-contract-ecosystem-1/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Week 2/smart-contract-ecosystem-1/lib/openzeppelin-contracts"]
	path = Week 2/smart-contract-ecosystem-1/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Week 2/smart-contract-ecosystem-2/lib/forge-std"]
	path = Week 2/smart-contract-ecosystem-2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Week 2/smart-contract-ecosystem-2/lib/openzeppelin-contracts"]
	path = Week 2/smart-contract-ecosystem-2/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Week 3/uniswap-build-from-scratch/lib/forge-std"]
	path = Week 3/uniswap-build-from-scratch/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Week 3/uniswap-build-from-scratch/lib/openzeppelin-contracts"]
	path = Week 3/uniswap-build-from-scratch/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Week 3/uniswap-build-from-scratch/lib/prb-math"]
	path = Week 3/uniswap-build-from-scratch/lib/prb-math
	url = https://github.com/PaulRBerg/prb-math
[submodule "playground/lib/forge-std"]
	path = playground/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "FlashLoanCTF/lib/forge-std"]
	path = FlashLoanCTF/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "FlashLoanCTF/lib/openzeppelin-contracts"]
	path = FlashLoanCTF/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "playground/lib/openzeppelin-contracts"]
	path = playground/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Week 14/erc1155-in-yul/lib/forge-std"]
	path = Week 14/erc1155-in-yul/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Week 14/erc1155-in-yul/lib/openzeppelin-contracts"]
	path = Week 14/erc1155-in-yul/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Week 14/erc1155-in-yul/lib/deploy-yul"]
	path = Week 14/erc1155-in-yul/lib/deploy-yul
	url = https://github.com/crystalbit/deploy-yul
[submodule "Week 14/ERC1155-yul/lib/forge-std"]
	path = Week 14/ERC1155-yul/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
